.container{
    background: var(--color-grey-light-1);
      margin: 8rem auto;
}


.header{
    font-size: 1.5rem;
    height: 7rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
}


.sidebar{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 0 0 18%;
    justify-content: space-between;
}

.hotel-view{
    background: orangered;
    flex:1;
    height: 80rem;

}
