.container{
    background: var(--color-grey-light-1);
      margin: 8rem auto;
}


.header{
    font-size: 1.5rem;
    height: 7rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-3);
}

.content{
    display: flex;
}


.sidebar{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 0 0 18%;
    justify-content: space-between;
}

.hotel-view{
    flex:1;

}

.detail{
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-2);
    border-bottom:  var(--line);
}

.description{
    font-size: 1.4rem;
    padding: 4.5rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    background: #fff;
}


.user-reviews{
background-color: green;
flex:1;
}